{% extends 'base.html' %}
{% load static %}

{% block title %}Settings | Flower Finance{% endblock %}

{% block content %}

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text">Account Information </h3>
                      
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            
                           
                            <div class="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
         
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    
                    <!-- Column -->
                    <div class="col-12">
                        
                            <div class="card-body"></div>
                           
                                
                               <div class="row justify-content-center">  
                                <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">  
                                    <h2>Account Information</h2>  
                                    {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="post">  
                                    {% csrf_token %}  
                                    <div class="form-group">  
                                        <label for="username">Business Name:</label>  
                                        
                                        <input type="text" class="form-control" id="username" placeholder="Enter Business Name" name="business_name" value='{{form.business_name.value}}'>  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="first_name">Privacy Policy URL:</label>  
                                        <input type="text" class="form-control" id="first_name" placeholder="Enter Privacy Policy URL" value='{{form.priv_url.value}}'  name="priv_url">  
                                    </div>  
                                    <div class="form-group">  
                                        <label for="last_name">Terms of Service URL:</label>  
                                        <input type="text" class="form-control" id="last_name" placeholder="Enter Terms of Service" value='{{form.tos_url.value}}'  name="tos_url">  
                                    </div>  
                                  
                                  
                                    <button type="submit" class="btn btn-primary">Save</button>  
                                </form>  
                                </div>  
                            </div>  
                            
                            </div>
                        
                    </div>
                <!-- Column -->


                </div>
                <!-- Row -->
                <!-- Row -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2021 Flower Finance</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
 

{% endblock %}